<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssola2.model.mapper.SearchMapper">
	<!--member  -->
	<resultMap type="com.ssola2.model.dto.Member" id="MemberResult">
		<id column="id" property="id"></id>
		<result column="password" property="password"></result>
		<result column="nickname" property="nickname"></result>
		<result column="deleted" property="deleted"></result>
		<result column="user_type" property="userType"></result>
		<result column="reg_date" property="regDate"></result>
	</resultMap>
	
	<!--article and section  -->
<!-- 	<resultMap type="com.ssola.model.dto.Article" id="ArticleResult">
		<id column="article_no" property="articleNo"/>
		<result column="article_title" property="articleTitle"/>
		<result column="reg_date" property="regDate"/>
		<result column="deleted" property="deleted"/>
		<result column="id" property="id"/>
		<result column="main_image" property="mainImage"/>
		<result column="section1" property="section1.sectionNo"/>
		<result column="section2" property="section2.sectionNo"/>
		<result column="section3" property="section3.sectionNo"/>
		<result column="section4" property="section4.sectionNo"/>
		<association column="section1" property="section1" javaType="Section" select="selectDetailSection" />
		<association column="section2" property="section2" javaType="Section" select="selectDetailSection" />
		<association column="section3" property="section3" javaType="Section" select="selectDetailSection" />
		<association column="section4" property="section4" javaType="Section" select="selectDetailSection" />
	</resultMap> -->
	
	<!--사람 검색 -->
	<select id="searchfriend" parameterType="String" resultType="com.ssola2.model.dto.Member">
		SELECT m.id AS id , m.nickname AS nickname , m.phoneNumber AS phoneNumber , f.IMAGE AS image
		FROM MEMBER m , PROFILE f
		WHERE m.id = f.id AND m.ID LIKE CONCAT('%',#{search},'%')
	</select>
	<!--멤버  -->
	<select id="searchfriends" resultType="Member">
		SELECT id , nickname , phoneNumber
		FROM MEMBER
	</select>
	
	<!--지도 검색  -->
	<select id="search_stores" parameterType="Section" resultType="Section">
	SELECT LAT , LNG, category , main_Tag AS mainTag , store_name AS storeName , section_no AS sectionNo , address ,

	(6371*acos(cos(radians(#{LAT}))*cos(radians(Lat))*cos(radians(Lng)

	-radians(#{LNG}))+sin(radians(#{LAT}))*sin(radians(Lat))))

	AS distance

	FROM SECTION
	
	HAVING distance <![CDATA[<=]]> 10
	
	ORDER BY distance 
	
	LIMIT 0,10000
	</select>
	

</mapper>