<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
	<mapper namespace="com.ssola2.model.mapper.VocMapper">
	<resultMap type="com.ssola2.model.dto.Voc" id="ArticleResult">
		<id column="article_no" property="articleNo" />
		<result column="article_title" property="articleTitle" />
		<result column="article_content" property="articleContent" />
		<result column="categoty" property="category"/>
		<result column="secure" property="secure" />
		<result column="reg_date" property="regDate" />
		<result column="deleted" property="deleted" />
		<result column="id" property="id" />
		<result column="read_count" property="readCount" />
		
	</resultMap>


	<sql id="selectArticleSql">
		SELECT article_no, article_title, article_conetent, reg_date, secure, deleted, id
		FROM VOC
	</sql>


	<insert id="insertArticle" parameterType="com.ssola2.model.dto.Voc">
		INSERT INTO VOC ( article_title, article_content, id, secure, category)
		VALUES (
		#{articleTitle}, #{articleContent}, #{id}, #{secure}, #{category})
	</insert>

	<select id="selectArticles" resultMap="ArticleResult" parameterType="Hashmap">
		SELECT *
		FROM VOC
		WHERE DELETED=0
		ORDER BY article_no DESC
		limit #{start}, #{count}
	</select>

	
	<select id="getArticleByArticleNo"  resultMap="ArticleResult"  parameterType="Integer">
		SELECT *
		FROM VOC
		WHERE ARTICLE_NO = #{articleNo}
	</select>
	
	<select id="editArticleByArticleNo" resultMap="ArticleResult" parameterType="Integer">
		SELECT *
		FROM VOC
		WHERE article_no = #{articleNo}
	</select>
	
	<delete id="deleteArticle"  parameterType="int">
		UPDATE VOC
		SET DELETED = 1
		WHERE article_no= #{articleNo}	
	</delete>
	
	<update id="editArticle" parameterType="com.ssola2.model.dto.Voc">
		UPDATE VOC 
		SET 
		article_title = #{articleTitle},
		article_content = #{articleContent},
		secure = #{secure},
		category = #{category}
		WHERE ARTICLE_NO = #{articleNo}
	</update>
	
	<update id="updateVocReadCount" parameterType="com.ssola2.model.dto.Voc">
		UPDATE VOC
		SET read_count = read_count + 1 
		WHERE article_no = #{articleNo}; 
	</update>
	
	<select id="getVocTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM VOC 
		WHERE deleted= 0
	</select>
	

</mapper>